<div class="control-section">   
    <ejs-treegrid [dataSource]='data' height = '400' autoCheckHierarchy='true' [filterSettings]='filterSettings' childMapping='subtasks'  [allowSorting]='true'  [filterSettings]='filterSettings' [allowFiltering]='true'
    [treeColumnIndex]='1'> 
        <e-columns>
            <e-column field='taskID' headerText='Task ID'  [allowFiltering]='false' [allowSorting]='false' isPrimaryKey='true' width='70' textAlign='Right'></e-column>
            <e-column field='taskName' headerText='Task Name' width='200' [showCheckbox]='true'></e-column> 
            <e-column field='startDate' headerText='Start Date' width='90' format="yMd" textAlign='Right'[allowFiltering]='false' [allowSorting]='false' ></e-column>
            
        </e-columns>
    </ejs-treegrid>
</div>

