<div class="control-section">   
    <ejs-treegrid [dataSource]='data' height = '400' autoCheckHierarchy='true' [filterSettings]='filterSettings' childMapping='subtasks'  [allowSorting]='true'  [filterSettings]='filterSettings' [allowFiltering]='true'
    [treeColumnIndex]='0'> 
        <e-columns>
            <e-column field='taskName' headerText='Task Name' width='200' [showCheckbox]='true'></e-column> 
           
            <e-column field='approved' headerText='Enable/Disable' width='90' [allowFiltering]='true' [allowSorting]='true' >
            <ng-template #template let-data>
                      <ejs-switch  [checked]="data?.approved"></ejs-switch>
              </ng-template>
            </e-column>
        </e-columns>
    </ejs-treegrid>
</div>

